header{
    text-align: center;
    color: red;
    background-color: aqua;
}
h2{
    text-align: center;
    color: blue;
}
footer{
    text-align: center;
    color: red;
    background-color: aqua;
    width: 100%;
    position: fixed;
    bottom: 0;
}