.c1{
    text-align: center;
    color: red;
    background-color: aqua;
}
.c2{
    text-align: center;
    color: blue;
}
.c3{
    text-align: center;
    color: red;
    background-color: aqua;
    width: 100%;
    position: fixed;
    bottom: 0;
}